<header class="main-header text center">
  <div class="no-cover padding">

    <div>
      <div class="blog-title"><h1><a href="{{@blog.url}}">{{@blog.title}}</a></h1></div>
    </div>

    <nav class="site_width">
      <ul>
        <li><a href="test">Blog</a></li>
        <li><a href="test">About</a></li>
        <li><a href="test">Labs</a></li>
        <li><a href="test">Speaking</a></li>
      </ul>
    </nav>

  </div>
</header>